body{
  font-family: Arial;
}
.js-subscribe-button{
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 35px;
}
.is-subscribed{
  background-color: rgb(240,240,240);
  color: black;
}
.cost-input{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 200px;
  font-size: 15px;
}
.calculate-button{
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: green;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
.negative{
  color: red;
}